section.payments
	div.container
		div.payments-block
			h2.title.title_medium.payments-title Приём платежей через СБП — это выгодно!
			ul.payments-list
				li Комиссия ниже, чем за эквайринг — 0,2%, 0,4% или 0,7%
				li Мгновенное зачисление — деньги на ваш счёт сразу после оплаты
				li Ваши клиенты могут оплачивать покупки смартфоном
			a(href="#" class="btn btn_outline") Подробнее
			picture
				source(
					srcset="\
						./images/payments-banner.avif 1x, \
						./images/payments-banner@2x.avif 2x, \
						./images/payments-banner@3x.avif 3x\
					", 
					type="image/avif"
				)
				source(
					srcset="\
						./images/payments-banner.webp 1x, \
						./images/payments-banner@2x.webp 2x, \
						./images/payments-banner@3x.webp 3x\
					", 
					type="image/webp"
				)
				img.payments-img(
					src="./images/payments-banner.png",
					srcset="\
						./images/payments-banner.png 1x, \
						./images/payments-banner@2x.png 2x, \
						./images/payments-banner@3x.png 3x\
					",
					alt="Баннер",
					width="322",
					height="292",
					loading="lazy"
				)